/* Reset global y eliminación de franjas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0; /* color de fondo de los costados */
}

/* Header */
.encabezado{
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  background-color: aqua; /* puedes cambiar a otro color o gradient */
}

.imagen-encavezado{
  width: 15%;
}

h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
  margin-left: 1rem;
}

/* Navegación */
.menu-navegacion{
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  padding: 0.5rem 0;
}

.menu-navegacion a{
  text-decoration: none;
  font-size: 1.5rem;
  color: #333;
}

.menu-navegacion a.activo{
    color: lawngreen;
    border-bottom: 3px solid navy;
    padding-bottom: 5px;
}

/* Contenedor principal */
.principal{
  max-width: 1000px;
  margin: 2rem auto; /* centrado */
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  background-color: #ffffff;
  border-radius: 8px;
}

/* Titulos y textos */
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
}

main p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

/* Videos */
main video {
  width: 100%;
  max-height: 500px;
  border-radius: 8px;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: #333;
  color: #ffffff;
  padding: 2rem 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

footer nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer nav a{
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
}

footer nav a.activo {
  color: #f39c12;
  border-bottom: 2px solid #f39c12;
}

footer .propaganda {
  display: flex;
  justify-content: center;
}

footer .propaganda img {
  width: 150px;
  border-radius: 4px;
}

footer p {
  grid-column: 1 / -1 ;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  border-top: 1px solid #555;
  padding-top: 1rem;
}
